<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Ejemplo</title>
</head>
<body>
    <header>
        <h1>---------Programacion Visual------ </h1>
        <nav>
            <a href="#seccion1">Profesores </a>
            <a href="#seccion2">Sección 2</a>
            <a href="#seccion3">Sección 3</a>
        </nav>
    </header>
    
    <main>
        <section id="seccion1">
            <h2> Profesores </h2>
            <p> Profesores tanto en area practica como teorica</p>
            <ul>
                <li>Profe Practica: Carolina Apaza </li>
                <li>Profe Practica: Sosa  </li>
                <li>Profe Teorica: Ariel Vega</li>
            </ul>
            <table>
                <tr>
                    <th>Carga Horaricas Practicas </th>
                    <th>Carga Horaricas Teoricas</th>
                </tr>
                <tr>
                    <td>3 horas</td>
                    <td>2 horas</td>
                </tr>
            </table>
        </section>
        
		<section id="seccion2">
		           <h3>Lenguaje de programacion JAVA</h3>
		           <p> semanas 1 al 6</p>
		       </section>
		       
		       <section id="seccion3">
		           <h3>HTLM</h3>
		           <p>Semana 1 ..</p>
		       </section>
		   </main>
		   
		   <aside>
		       <a href="#">	https://validator.w3.org/</a>
		   </aside>
		   
		   <footer>
		       <p>Contacto: correo@ProgVisualAPU2004.com</p>
		       <p>Redes Sociales: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
		   </footer>
		/body>
		/html>
       